<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TUsertypeMapper">
  <resultMap id="BaseResultMap" type="model.TUsertype">
    <result column="usertypeId" property="usertypeId" jdbcType="INTEGER"/>
    <result column="usertypeDesc" property="usertypeDesc" jdbcType="VARCHAR"/>
    <result column="usertype" property="usertype" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    usertypeId,usertypeDesc,usertype
  </sql>

  <insert id="insert" parameterType="model.TUsertype">
    insert into t_usertype (usertypeId, usertypeDesc, usertype)
    values (#{usertypeId,jdbcType=INTEGER}, #{usertypeDesc,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="model.TUsertype">
    insert into t_usertype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usertypeId != null">
        usertypeId,
      </if>
      <if test="usertypeDesc != null">
        usertypeDesc,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usertypeId != null">
        #{usertypeId,jdbcType=INTEGER},
      </if>
      <if test="usertypeDesc != null">
        #{usertypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from t_usertype
    where usertypeId = #{usertypeId,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="model.TUsertype">
    update t_usertype
    <set>
      <if test=" usertypeDesc!= null">
        usertypeDesc = #{usertypeDesc,jdbcType=VARCHAR},
      </if>
      <if test=" usertype!= null">
        usertype = #{usertype,jdbcType=VARCHAR},
      </if>
    </set>
    where usertypeId = #{usertypeId,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from t_usertype
    where usertypeId = #{usertypeId,jdbcType=INTEGER}
  </select>

  <select id="selectBySelective" parameterType="model.TUsertype" resultType="model.TUsertype">
    select
    <include refid="Base_Column_List"/>
    from t_usertype
    <where>
      <trim prefixOverrides="and">
        <if test="usertypeId!=null and usertypeId!=0">
          and usertypeId = #{usertypeId}
        </if>
        <if test="usertype!=null and usertype!=''">
          and usertype like '%${usertype}%'
        </if>
        <if test="usertypeDesc!=null and usertypeDesc!=''">
          and usertypeDesc like '%${usertypeDesc}%'
        </if>
      </trim>
    </where>
  </select>
</mapper>